*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
nav{
    display: grid;
    grid-template-columns: auto, auto, auto, auto, auto, auto;
}
body{
    display: grid;
    background-color: black;
}
p{
    color: white;
}
a{
    width: 200px;
}