*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
nav{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
nav a{
    text-align: center;
    padding: 10px;
    border: 1px solid silver;
    border-width: medium;
    background-color: black;
    color: silver;
}
#container{
    display: grid;
    grid-template-columns: 20% auto 20%;
    background-color: black;
    padding: 20px;
}
.text{
    grid-column-start: 2;
}
p{
    color: rgb(59, 187, 219);
    text-size-adjust: 22;
}
